#!/usr/bin/make -f

%:
	dh $@ --with autoreconf

override_dh_strip:
	dh_strip --dbg-package=libchewing3-dbg

override_dh_install:
	dh_install --fail-missing \
		--exclude=libchewing.info \
		--exclude=libchewing.la \
		$(NULL)
